<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DamageVision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DamageVision.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="BarWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowDps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDamageInQuest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDamageAfterQuest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPercentageInQuest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPercentageAfterQuest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitOnGameExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BarOpacity" serializeAs="String">
                <value>65</value>
            </setting>
        </DamageVision.Properties.Settings>
    </userSettings>
</configuration>